.welcome-message {
  color: aquamarine;
  font-family: cursive;
  font-weight: italic;
}

.welcome-button {
  color: chocolate;
  border: none;
  border-radius: 10px;
  font-family: cursive;
  font-weight: italic;
  cursor: pointer;
}

.main-navbar {
  border-radius: 8px;
}
